[Unit]
Description=Abox - Whatsapp
[Service]
Type=simple
ExecStartPre=/bin/bash -c '/usr/local/bin/anbox-bridge force-reload &'
ExecStart=/usr/bin/sudo -u lucas /bin/bash -c '/home/lucas/Documentos/scripts/anbox.sh start'

[Install]
WantedBy=multi-user.target
