[Unit]
Description=Segunda tela na GPU intel para rodar Anbox
PropagatesReloadTo=intel_display_configuracoes.service
PartOf=intel_display_configuracoes.service
BindsTo=intel_display_configuracoes.service

[Service]
Type=simple
User=root
# enter your username and password here
# ExecStartPre=/usr/local/bin/pulseaudio_fix_mic
ExecStartPre=/usr/local/bin/anbox-bridge restart
ExecStart=/usr/bin/X :1 -sharevts -noreset -config intel/xorg.conf
ExecStop=/bin/bash -c "kill -9 $(/usr/bin/ps auxm | grep Xorg | grep ':1' | grep -v 'auto' | awk '{print $2}')"

