[Unit]
Description=Run script inside the isolated Xorg instance for the NVIDIA card.
Wants=nvidia_display.service
After=nvidia_display.service
ReloadPropagatedFrom=nvidia_display.service
PartOf=nvidia_display.service
Requires=nvidia_display.service

[Service]
Type=oneshot
User=lucas
ExecStart=/bin/bash -c 'sudo -u lucas XDG_RUNTIME_DIR=/run/user/1000 DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus /home/lucas/Documentos/scripts/nvidia_display.sh start'
ExecStop=/bin/bash -c 'sudo -u lucas XDG_RUNTIME_DIR=/run/user/1000 DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus /home/lucas/Documentos/scripts/nvidia_display.sh stop'
