[Unit]
Description=Isolated Xorg instance for the NVIDIA card.
PropagatesReloadTo=nvidia_display_configuracoes.service
PartOf=nvidia_display_configuracoes.service
BindsTo=nvidia_display_configuracoes.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/X :1 -noreset -sharevts -config nvidia/xorg.conf

